TMDB_READ_ACCESS_TOKEN=
BANGUMI_ACCESS_TOKEN=
ADMIN_TOKEN=
SECRET_KEY=
PUBLIC_BASE_URL=http://127.0.0.1:8000
PRECACHE_ENABLED=false
PRECACHE_INTERVAL_HOURS=4
PRECACHE_MAX_SUBJECTS=24
SOURCE_MAX_CONCURRENCY=2
